@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    margin: 0; font-family: 'JetBrains Mono', "Helvetica Neue", Arial, sans-serif; 
    .example-icon {
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
    .mat-icon{
        color: white;
    }
}
